* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(236, 66, 66),
    rgb(19, 57, 224)
  );
  min-height: 100vh;
  width: 100%;
}
.container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 550px;
  width: 800px;
  background-color: rgb(14, 5, 5);
  color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 1px rgb(253, 252, 252);
  padding: 15px;
  position: relative;
}
.heading {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.question {
  margin: 6px;
  box-shadow: 0px 0px 10px 1px #fbfdfd;
  border-radius: 15px;
  padding: 5px;
  font-size: large;
  font-weight: 600;
  min-width: 97%;
  min-height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
}

#question-num {
  margin-left: 15px;
  margin-right: 10px;
}

.option-container {
  display: flex;
  flex-direction: column;
  margin: 15px 4px;
  width: 97%;
  padding: 15px;
  gap: 10px;
}

.option-btn {
  box-shadow: 0px 0px 4px 1px gray;
  padding: 5px;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: 0.3s;
  margin: 5px;
  min-height: 30px;
  background-color: white;
}

.checked {
  background-color: rgb(114, 4, 114);
  color: white;
  box-shadow: 3px 3px 4px lpx grey;
}
.option-btn:hover {
  background-color: rgb(253, 163, 253);
  color: rgb(7, 7, 7);
  cursor: pointer;
}
.btns {
  display: flex;
  margin-top: 100px;
  gap: 500px;
}

#next-btn {
  width: 100px;
  height: 30px;
  background-color: rgb(251, 252, 251);
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(114, 4, 114);
  color: white;
  font-weight: 800;
}

#next-btn:hover {
  background-color: rgb(253, 163, 253);
  color: black;
  box-shadow: 2px 2px 5px 1px rgb(138, 137, 137);
  border-color: red;
}
#next-btn:active {
  box-shadow: none;
}
#previous-btn {
  width: 100px;
  height: 30px;
  background-color: rgb(251, 252, 251);
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(114, 4, 114);
  color: white;
  font-weight: 800;
}
#previous-btn:hover {
  background-color: rgb(253, 163, 253);
  color: black;
  box-shadow: 2px 2px 5px 1px rgb(138, 137, 137);
  border-color: red;
}
#previous-btn:active {
  box-shadow: none;
}

.footer-divider {
  margin-top: 50px;
  margin-left: -150px;
}
